body{
    font-family:'Secular One', sans-serif; 
   
}
h1{
    font-size: 60px;
   
}
.change-one{
    display:flex;
}
.change-three{
    padding-top: 100px;
    padding-right: 100px;
}
.change-two{
    text-align: justify;
    padding-top: 200px;
    padding-left: 150px;
    font-size: 20px;
    color: rgb(255,81,0);
}
span{
    color:green;
}
p{
    font-size: 20px;
    color: black;
    padding-bottom: 50px;
}
.link-button{
    color: rgb(255, 255, 255);
    background-color: rgb(230, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
}
a{
    font: 20px;
}