body{
    font-family:'Secular One', sans-serif; 
   
}
h1{
    font-size: 70px;
   
}
.change-one{
    display:flex;
}
.change-three{
    padding-top: 100px;
    padding-right: 150px;
}
.change-two{
    text-align: justify;
    padding-top: 100px;
    padding-left: 150px;
    font-size: 20px;
    color: rgb(255,81,0);
}
span{
    color:green;
}
p{
    font-size: 20px;
    color: black;
    padding-bottom: 50px;
    width: 90%;
}
.link-button{
    color: rgb(255, 255, 255);
    background-color: rgb(230, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
}
a{
    font: 20px;
}
.change-five{
    
    background-repeat: no-repeat;
    width: 100%;

    
} 
.change-five{
    display: flex;
}
.change-six{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 58, 82);
}
.change-seven{
    display: flex;
    width: 100%;
}
.box{
    display: flex;
    text-align:justify;
    
}
#pic1{
    width: 50%;
    
}
#pic2{
    width: 50%;
    
}
#pic3{
    width: 50%;
    border-radius: 10px;
    
}
.box1{
    border:5px 5px 5px 5px solid rgb(233, 233, 233);
    margin:20px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px 2px black ; 
    
}
.box2{
    border:5px 5px 5px 5px solid rgb(233, 233, 233);
    margin:20px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px 2px black ;
}
.box3{
    border:5px 5px 5px 5px solid rgb(233, 233, 233);
    margin:20px;
    border-radius: 20px; 
    box-shadow: 20px 20px 20px 2px black ;
    padding-left: 50px;
}
.paragraph{
    font-size:10px;
}
#pciture2{
 padding-left: 200px;
}
.type{
    font-size: 25px;
    padding-left: 300px;
    color: slategrey;
    padding-top: 150px;
}
.change-four{
    padding-top: 100px;
    padding-left: 200PX;
}
.link{
    color: rgb(255, 255, 255);
    background-color: rgb(113, 0, 148);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
}
.food{
    color: rgb(230, 0, 0);
} 
.world{
    color: green;
}  
footer{
    text-align: center;
    background-color: rgb(253, 90, 71);
    padding-top: 10px;
    padding-bottom: 10pxs;
    
}

